 @font-face{
 	font-family: "Web-Raleway";
 	src:url('../fonts/Raleway-Regular.eot');
 	src:url('../fonts/Raleway-Regular.eot?#iefix') format("embedded-opentype"),
 	url('../fonts/Raleway-Regular.woff') format("woff"),
 	url('../fonts/Raleway-Regular.ttf') format("truetype"),
 	url('../fonts/Raleway-Regular.svg#web') format("svg");
 	font-style:normal;font-weight:normal;
 }
  @font-face{
 	font-family: "Web-Raleway-Bold";
 	src:url('../fonts/Raleway-Bold.eot');
 	src:url('../fonts/Raleway-Bold.eot?#iefix') format("embedded-opentype"),
 	url('../fonts/Raleway-Bold.woff') format("woff"),
 	url('../fonts/Raleway-Bold.ttf') format("truetype"),
 	url('../fonts/Raleway-Bold.svg#web') format("svg");
 	font-style:normal;font-weight:normal;
 }

 /* default configuration */
 body{
 	margin: 0;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 	font-size: 14px;
 	color: #373737;
 }
 .clear{
 	float: none;
 	clear: both;
 }
 .center{
 	width: 960px;
 	margin: 0 auto;
 }
 a{
    -webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	-ms-transition:0.3s;
  	-o-transition:0.3s;
  	transition: 0.3s;
 }

 /*konfigurasi header*/
 #header{
 	padding: 35px 0;
 }
 #header #logo{
 	float: left;
 }
 #header .navigation{
 	float: right;
 }
 #header .navigation ul{
 	list-style-type: none;
 	padding: 0;
 	margin: 0;
 }
 #header .navigation ul li{
 	display: inline-block;
 	font-size: 18px;
 	font-family: "Web-Raleway-Bold"
 }
 #header .navigation ul li a{
 	margin-top: 10px;
 	display: inline-block;
 	padding: 25px 25px;
 	text-transform: uppercase;
 	color: #373737;
 	text-decoration: none;
 }
  #header .navigation ul li a:hover{
  	color: #0b63cc;
  	-webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	-ms-transition:0.3s;
  	-o-transition:0.3s;
  	transition: 0.3s;
  }

  /* konfigurasi banner */
  #banner{
  	background: url("../images/banner_bg.jpg") no-repeat center center;
  	-webkit-background-size: cover;
  	background-size: cover;
  	padding: 115px;
  	color: #ffffff; 
  	text-align: center;
  }
  #banner h1{
  	font-size: 44px;
  	font-family: "Web-Raleway-Bold";
  	text-transform:uppercase;
  	font-weight: normal;
  }
   #banner h2{
  	font-size: 26px;
  	font-family: "Web-Raleway";
  	font-weight: normal;
  	margin-bottom: 25px;
  }
  .btn-primary{
  	border: solid 3px #ffffff;
  	color: #fff;
  	text-transform: uppercase;
  	font-family: "Web-Raleway";
  	font-size: 16px;
  	text-decoration: none;
  	padding: 10px;
  	display: inline-block;
  }
   .btn-primary:hover,.cl .ls .button a:hover{
   	background: #ffffff;
   	color: #2864d1;

  }


  /* konfigurasi ourservice */
  
  #os{
  	padding: 25px 0;
  	font-family: "Web-Raleway"
  }
  #os .tc{
  	text-transform: uppercase;
  	font-size: 32px;
  	text-align: center;
  	margin-bottom: 40px;
  }
  #os .tc span{
  	font-family: "Web-Raleway-Bold";
  }
  .cl .ls{
  	background: #255ac1;
  	padding: 18px;
  	float: left;
  	width: 45%;
  	color: #ffffff;
  }
  .cl .ls.last{
  	float: right;
  }
  .cl .ls h2{
  	text-transform: uppercase;
  	font-family: "Web-Raleway-Bold";
  	font-size: 26px;
  	margin-bottom: 10px;
  	margin-top: 0;
  }
  .cl .ls .text{
  	line-height: 25px;
  	margin-bottom: 20px;
  }
  .cl .ls .button a{
  	display: inline-block;
  	padding: 10px 15px;
  	border: solid 2px #ffffff;
  	text-decoration: none;
  	color: #ffffff;
  	text-transform: uppercase;
  	font-family: "Web-Raleway";
  }

  /*notifications config*/
  #ns{
  	background: #d7d7d7;
  	padding: 25px 0;
  	margin-top: 30px;
  }
  #ns h2{
  	font-family: "Web-Raleway-Bold";
  	text-transform: uppercase;
  	font-size: 30px;
  	margin-bottom: 15px;
  }
  #ns h3{
  	margin-top: 0;
  	font-size: 24px;
  	font-family: "Web-Raleway";
  	font-weight: normal;
  }
  #ns .lecon{
  	float: left;
  }
  #ns .ricon{
  	float: right;
  	padding-top: 35px;
  }
  #ns .lar{
  	display: inline-block;
  	background: #255ac1;
  	font-family: "Web-Raleway-Bold";
  	font-size: 24px;
  	padding: 18px 45px;
  	text-decoration: none;
  	color: #ffffff;
  	text-transform: uppercase;
  }

  /* konfigurasi footer */
  #ftr{
  	margin-top: 30px;
  	background: #373737;
  	padding: 40px 0;
  	text-align: center;
  	color: #ffffff;
  	font-size: 16px;
  	margin-bottom: 0;
  }
  #ns .lar:hover{
  	background: #373737;	
  }

  /* responsive*/
  @media screen and (max-width: 1095px) {

  	.center{
  		width: auto;
  		padding: 0 20px;
  		margin 0;
  	}
  

  @media screen and (max-width: 826px)  {
  	#ns .lecon,
  	#ns .ricon{
  	float: none;
  	text-align: center;
  }
  #ns .ricon{
  	padding-top: 10px;
  }

  .cl .ls,
  .cl .ls.last{
  	width: auto;
  	display: block;
  	float: none;
  	margin-bottom: 15px;
  }
 }

 @media screen and (max-width: 741pc){

 	#header .navigation,
 	#header #logo{
 		float: none;
 		width: auto;
 		margin: 0 auto;
 	}
 	#header #logo img{
 		margin: 0 auto;
 		display: table;
 	}
 	#header .navigation ul{
 		display: table;
 		margin: 0 auto;
 	}

 	#banner h1{
  	font-size: 30px;
  }
 
  